<div class="banner"></div>

<div class="products container">

    <div class="row">
        <!-- Left sidebar -->
        <ng-container *ngIf="layoutIsLgAboves() | async">
            <ng-container *ngTemplateOutlet="leftSidebar"></ng-container>
        </ng-container>

        <!-- Products grid -->
        <div [ngClass]="getGridContainerClasses()">
            <h1>{{ title }}</h1>
            <mte-products-grid [products]="products"></mte-products-grid>
        </div>
        
        <!-- Left sidebar - collapsible -->
        <div *ngIf="layoutIsNotLgAboves() | async"
             class="products-left-sidebar-dropdown-container">
            <ng-container *ngTemplateOutlet="leftSidebar"></ng-container>
        </div>
    </div>

</div>

<!-- Templates -->

<ng-template #leftSidebar>
    <div [attr.aria-expanded]="leftSidebarIsExpandeds | async"
         [ngClass]="getLeftSidebarClasses()">
        
        <h2>Narrow it down</h2>

        <div class="products-left-sidebar-filters">

            <div class="price-range-filter">
                Price range
            </div>

            <div class="product-type-filter">
                Product type
            </div>

            <div class="disc-type-filter">
                Disc type
            </div>

            <div class="manufacturers-filter">
                Manufacturers
            </div>

            <div class="stabilities-filter">
                Stabilities
            </div>

            <div class="colors-filter">
                Colors
            </div>

            <button>Clear filters</button>

        </div>

    </div>
</ng-template>