<mte-shop-primary-nav></mte-shop-primary-nav>

<button class="btn btn-primary" (click)="doAModalThing()">Show modal</button>
<button class="btn btn-secondary" (click)="doAToastThing()">Show toast</button>
<mte-signup></mte-signup>
<mte-login></mte-login>
<button (click)="userService.logout()">Log out</button>

<router-outlet></router-outlet>

<ng-template #bannerModal>
    <form (submit)="bannerModalContext.modalFormSubmitted($event)"
          [formGroup]="bannerModalContext.sampleFormGroup">

        <mte-form-field [options]="bannerModalContext.sampleForm.getOptions('name')">
            <input #input
                   id="sample-form-name"
                   type="text"
                   maxlength="100"
                   formControlName="name">
        </mte-form-field>

        <mte-form-field [options]="bannerModalContext.sampleForm.getOptions('email')">
            <input #input
                   id="sample-form-email"
                   type="email"
                   formControlName="email">
        </mte-form-field>

        <button>Go</button>
    </form>
</ng-template>
