@import 'variables';
@import 'typography';

@keyframes scale-grow-1 {
    0% { transform: scale(0); }
    25% { transform: scale(0); }
    75% { transform: scale(1); }
    100% { transform: scale(1); }
}
@keyframes scale-grow-2 {
    0% { transform: scale(0); }
    30% { transform: scale(0); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
@keyframes scale-grow-3 {
    0% { transform: scale(0); }
    35% { transform: scale(0); }
    95% { transform: scale(1); }
    100% { transform: scale(1); }
}
@keyframes scale-grow-4 {
    0% { transform: scale(0); }
    40% { transform: scale(0); }
    100% { transform: scale(1); }
}

.product-detail {
    &-info {
        font-size: 1.3rem;

        &--header {
            padding-bottom: 2rem;
        }

        &--brand {
            display: block;
            color: $gray-500;
            margin-bottom: -0.4rem;
        }

        &--name {
            @include ff-display;
            display: inline-block;
        }

        &--description {
            margin-bottom: 4rem;
        }

        &--price {
            padding-bottom: 1.5rem;
            font-size: 1.6rem;
        }

        // Custom regions.
        &--disc-specs-label {
            display: inline-block;
            position: relative;
            top: -1rem;
            color: $white;
            background: $gray-500;
            padding: 0.6rem 1rem;
            margin-left: 0.6rem;
            border-radius: 0.3rem;
            font-size: 1.1rem;
            letter-spacing: 0.05rem;

            &--mid-dot {
                display: inline-block;
                padding: 0 0.6rem;
            }
        }

        &--flight-stat {
            &--speed, &--glide, &--turn, &--fade {
                display: inline-block;
                
                + br {
                    display: none;
                }
                
                .flight-stats-bubble {
                    display: flex;
                    width: 6rem;
                    height: 6rem;
                    margin-right: 0.6rem;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 3rem;
                    background: $primary;
                    box-shadow: 0.2rem 0.2rem 0.6rem rgba(0,0,0,0.1);
                    animation-duration: 800ms;
                    animation-timing-function: cubic-bezier(0, 0.8, 0.4, 1);
    
                    &--label, &--value {
                        color: $white;
                    }
    
                    &--label {
                        @extend .ff-display;
                        text-transform: uppercase;
                        font-weight: normal;
                        font-size: 0.9rem;
                        letter-spacing: 0.05rem;
                    }
    
                    &--value {
                        @extend .ff-display-2;
                        font-size: 1.9rem;
                        line-height: 1;
                    }
                }
            }

            &--speed .flight-stats-bubble {
                animation-name: scale-grow-1;
            }
            &--glide .flight-stats-bubble {
                animation-name: scale-grow-2;
            }
            &--turn .flight-stats-bubble {
                animation-name: scale-grow-3;
            }
            &--fade .flight-stats-bubble {
                animation-name: scale-grow-4;
            }
        }
    }

    &-add-to-cart {
        display: flex;
        align-items: center;
        padding-top: 2.2rem;

        &--quantity {
            .form-group,
            .input-group {
                margin-bottom: 0;
            }

            label {
                @extend .ff-secondary;
                font-weight: bold;
                text-transform: lowercase;
                margin-bottom: 0.1rem;
            }

            input {
                @extend .ff-display-2;
                width: 8.6rem;
                height: 5.1rem;
                background: $gray-300;
                border-radius: 2.6rem;
                font-size: 2rem;
                font-weight: bold;
                padding-left: 2rem;
            }
        }

        &--submit {
            margin-left: 3rem;
        }
    }
}
