<time-shop-primary-nav></time-shop-primary-nav>

<button (click)="doAModalThing()">Show modal</button>
<!-- <button (click)="doAToastThing()">Show toast</button> -->

<router-outlet></router-outlet>

<ng-template #bannerModal>
    <form (submit)="bannerModalContext.modalFormSubmitted($event)"
          [formGroup]="bannerModalContext.sampleFormGroup">

        <time-form-field [options]="bannerModalContext.sampleForm.getOptions('name')">
            <input #input
                    id="sample-form-name"
                    type="text"
                    maxlength="100"
                    formControlName="name">
        </time-form-field>

        <time-form-field [options]="bannerModalContext.sampleForm.getOptions('email')">
            <input #input
                    id="sample-form-email"
                    type="email"
                    formControlName="email">
        </time-form-field>

        <button>Go</button>
    </form>
</ng-template>
