<div class="banner">Banner</div>
<div class="sub-banner">Some info here</div>

<div class="products container">

    <div class="row">
        <!-- Left sidebar -->
        <ng-container *ngIf="layoutIsMdAboves() | async">
            <ng-container *ngTemplateOutlet="leftSidebar"></ng-container>
        </ng-container>

        <!-- Products grid -->
        <div [ngClass]="getGridContainerClasses()">
            <h1>{{ title }}</h1>
            <mte-products-grid [products]="products"></mte-products-grid>
        </div>

    </div>

</div>
