<div class="container">
    <h1>Checkout</h1>

    <form [formGroup]="checkoutFormGroup">

        <!-- First name -->
        <mte-form-field [options]="checkoutForm.getOptions('firstName')">
            <input #input
                   id="checkout-form-first-name"
                   type="text"
                   maxlength="100"
                   formControlName="firstName">
        </mte-form-field>

        <!-- Last name -->
        <mte-form-field [options]="checkoutForm.getOptions('lastName')">
            <input #input
                   id="checkout-form-last-name"
                   type="text"
                   maxlength="100"
                   formControlName="lastName">
        </mte-form-field>

        <!-- Email -->
        <mte-form-field [options]="checkoutForm.getOptions('email')">
            <input #input
                   id="checkout-form-email"
                   type="email"
                   formControlName="email">
        </mte-form-field>

    </form>

    <form id="payment-form" [hidden]="!isReadyForPayment">
        <div class="form-group">
            <label for="card-element">
                Credit or debit card
            </label>

            <div id="card-element">
                <!-- Stripe Element goes here. -->
            </div>

            <!-- Stripe Element Element errors go here. -->
            <div id="card-errors"></div>
        </div>

        <button [disabled]
                (click)="submit()">Submit Payment</button>
    </form>

    <!--
    * Display current card set as customer.default_source
    -->
</div>