@keyframes inner-ripple {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.2;
    }
    60% {
        opacity: 0;
    }
}

@keyframes outer-ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

button {
    position: relative;
    left: 50rem;

    .ripple {
        position: absolute;
        width: 5rem;
        height: 5rem;
    }

    .inner-ripple, .outer-ripple {
        border-radius: 10rem;
        display: block;
        position: absolute;
        opacity: 0;
        animation-duration: 0.9s;
        animation-timing-function: cubic-bezier(.4,.13,0,.62);
        background: rgba(52, 50, 46, 0.7);
        transform-origin: center;
    }
    
    .inner-ripple {
        top: 1.7rem;
        left: 1.7rem;
        width: 1.6rem;
        height: 1.6rem;
        animation-name: inner-ripple;
        // animation-timing-function: cubic-bezier(.4,0,.6,1);
        animation-timing-function: cubic-bezier(.4,.13,0,.62);
        animation-delay: 1000ms;
    }

    .outer-ripple {
        width: 5rem;
        height: 5rem;
        animation-name: outer-ripple;
        animation-delay: 1080ms;
    }

}