<nav class="navbar navbar-toggleable-md navbar-dark"
     [ngStyle]="{ backgroundColor: organization?.branding?.colors?.primary }">

    <div class="container">
        <a class="navbar-brand"
           [routerLink]="routerLinks.shop"
           [attr.title]="organization?.name">

            <img id="navbar-logo"
                 [attr.alt]="organization?.name"
                 [src]="organization?.branding?.logo">
        </a>
        
        <ng-container *ngIf="windowRefService.mediaBreakpointAbove('sm')">
            <ng-container *ngTemplateOutlet="navbarCollapse"></ng-container>
        </ng-container>
    </div>

    <ng-container *ngIf="windowRefService.mediaBreakpointBelow('md')">
        <ng-container *ngTemplateOutlet="navbarCollapse"></ng-container>
    </ng-container>

    <button class="navbar-toggler navbar-toggler-right btn-blank"
            type="button"
            aria-label="Toggle navigation"
            [attr.aria-controls]="navbarId"
            [attr.aria-expanded]="fullScreenNavIsExpanded"
            (click)="toggleFullScreenNav()">

        <i class="material-icons">
            {{ fullScreenNavIsExpanded ? 'close' : 'menu' }}
        </i>

    </button>
</nav>

<ng-template #navbarCollapse>
    <div class="navbar-collapse"
         [id]="navbarId"
         [ngClass]="{
             'expanded': fullScreenNavIsExpanded,
             'collapsed': !fullScreenNavIsExpanded
         }">

        <mte-navigation-list [id]="'left-nav'" [items]="leftNavigation">
        </mte-navigation-list>

        <mte-navigation-list [id]="'right-nav'" [items]="rightNavigation">
        </mte-navigation-list>

    </div>
</ng-template>

