<div [ngClass]="['form-field-inner clearfix pull-left', (textAlign ? 'text-align-' + textAlign : ''), (twoColLeft ? 'col-sm-6 left' : ''), (twoColRight ? 'col-sm-6 right' : ''), ((!twoColLeft && !twoColRight && !autoWidth) ? 'full-width' : ''), ((formSubmitted || !pristine) && showingValidation?.length ? 'has-error' : ''), (invalid[0] ? 'error-' + invalid[0] : ''), (invalid[1] ? 'error-' + invalid[1] : ''), (invalid[2] ? 'error-' + invalid[2] : ''), (invalid[3] ? 'error-' + invalid[3] : ''), (disabled ? 'disabled' : ''), (showLabel ? 'showing-label' : '')]">

	<label 	[attr.id]="id + '-label'"
			[attr.for]="id + (type === 'select' ? '-select' : '-input')"
			[ngClass]="[showLabel ? '' : 'visually-hidden', labelClass]"
			[ngStyle]="{'font-size': labelFontSize}">{{label}}</label>

	<input  *ngIf="type === 'text'"
			[value]="value"
			(change)="onChange($event)"
			(blur)="onBlur()"
			(keypress)="onKeyup($event)"
			(keyup)="onKeyup($event)"
			[attr.id]="id + '-input'"
			[ngClass]="[inputClass]"
			[attr.type]="type"
			[attr.name]="name"
			[attr.placeholder]="placeholder"
			[attr.aria-describedby]="describedby"
			[attr.aria-invalid]="invalid.length ? true : false"
			[attr.maxlength]="maxlength"
			[disabled]="disabled || 'false'"
			[ngStyle]="{'text-align': textAlign}">

	<input *ngIf="type === 'autoComplete'"
			auto-complete
			[ngModel]="value"
			(valueChanged)="onChange($event)"
			[attr.id]="id + '-input'"
			[attr.type]="type || 'search'"
			[name]="id + '_input'"
			[attr.placeholder]="placeholder"
			[attr.maxlength]="maxlength"
			[attr.aria-describedby]="ariaDescribedby + (textAfter ? id + '-text-after' : '')"
			[source]="autocompleteSource"
			[display-property-name]="displayProperty"
			[select-value-of]="outputProperty"
			[min-chars]="2"
			[list-formatter]="autocompleteFormatter"
			loading-text="Loading...">

	<!-- <my-date-picker
			#datePicker
			*ngIf="type ==='datePicker'"
			[name]="name"
			[options]="datePickerOptions"
			[ngModel]="value"
			(dateChanged)="onChange($event)"
			(inputFocusBlur)="onBlur($event.value, $event.reason)"
			(inputFieldChanged)="onChange($event)"></my-date-picker> -->

	<select *ngIf="type === 'select'"
			[value]="value"
			(change)="onChange($event)"
			(blur)="onBlur()"
			[attr.id]="id + '-select'"
			[ngClass]="[inputClass]"
			[attr.name]="name"
			[attr.placeholder]="placeholder"
			[attr.aria-describedby]="describedby"
			[attr.aria-invalid]="invalid.length ? true : false"
			[disabled]="disabled || 'false'"
			[ngStyle]="{'text-align': textAlign}">
		<option *ngIf="selectOptionDefaultText"
				[value]="selectOptionDefault.value">{{selectOptionDefault.name}}</option>
		<option *ngFor="let option of selectOptions; let i = index; trackBy: trackByIndex"
				[ngValue]="option[outputProperty || 'value'] || option">{{option[displayProperty || 'name']}}</option>
	</select>

	<textarea *ngIf="type === 'textarea'"
			[value]="value"
			(change)="onChange($event)"
			(blur)="onBlur()"
			(keypress)="onKeyup($event)"
			(keyup)="onKeyup($event)"
			[attr.id]="id + '-input'"
			[ngClass]="[inputClass]"
			[attr.name]="name"
			[attr.placeholder]="placeholder"
			[attr.aria-describedby]="describedby"
			[attr.aria-invalid]="invalid.length ? true : false"
			[attr.maxlength]="maxlength"
			[disabled]="disabled || 'false'"
			[ngStyle]="{'text-align': textAlign}"></textarea>


	<small *ngIf="tooltip" class="right">
		{{tooltip}}
	</small>

	<div class="form-field-error" *ngIf="(formSubmitted || !pristine) && showingValidation?.length" [attr.id]="id + '-error'" role="alert">
		<div [ngSwitch]="showingValidation">
			<div *ngSwitchCase="'required'">{{label}} is required</div>
			<div *ngSwitchCase="'confirmPassword'">Passwords must match</div>
			<div *ngSwitchCase="'password'">Password too weak</div>
			<div *ngSwitchCase="'username' || 'sanitary'">Only letters, numbers, and _ allowed</div>
			<div *ngSwitchDefault="">Invalid {{showingValidation}}</div>
		</div>
	</div>
</div>
