<div class="banner" *ngIf="taxonomyTerm?.pageSettings?.banner">
    <mte-responsive-image
        [src]="taxonomyTerm.pageSettings.banner"
        [height]="'30rem'"
        [alt]="taxonomyTerm.pluralName"
        [overlaySrc]="taxonomyTerm.pageSettings.bannerOverlay"
        [overlayHeight]="'9.3rem'"
        [overlayAlt]="taxonomyTerm.pluralName">
    </mte-responsive-image>
</div>

<ng-container *ngIf="isOneColLayout()">
    <div class="sub-banner">Some info here</div>

    <div class="products container">    
        <div class="row">

            <!-- Products grid -->
            <div [ngClass]="[ 'products-grid-container', 'col-12' ]">
                <mte-products-grid [productsSource]="products"></mte-products-grid>
            </div>

        </div>
    </div>
</ng-container>

<ng-container *ngIf="isTwoColLayout()">
    <div class="products container">
        <div class="row">
            <!-- Left sidebar -->
            <ng-container *ngIf="layoutIsMdAboves() | async">
                <ng-container *ngTemplateOutlet="leftSidebar"></ng-container>
            </ng-container>
    
            <!-- Products grid -->
            <div [ngClass]="[ 'products-grid-container', 'col-lg-8', 'col-sm-12' ]">
                <mte-products-grid [productsSource]="productsSource"
                    (productClick)="handleProductClick($event)">
                </mte-products-grid>
            </div>
            
            <!-- Left sidebar - collapsible -->
            <div *ngIf="layoutIsNotMdAboves() | async"
                 class="products-left-sidebar-dropdown-container">
                <ng-container *ngTemplateOutlet="leftSidebar"></ng-container>
            </div>
        </div>
    </div>
    
    <ng-template #leftSidebar>
        <div [attr.aria-expanded]="leftSidebarIsExpandeds | async"
             [ngClass]="[ 'products-left-sidebar', 'col-lg-4', 'col-sm-12' ]">
            
            <h2>Narrow it down</h2>
    
            <form class="products-left-sidebar-filters">
    
                <!-- Standard filters. -->
                <div class="price-range-filter">
                    Price range
                </div>
    
                <div class="categories-filter">
                    Categories
                </div>

                <div class="brands-filter">
                    Brands
                </div>

                <div class="colors-filter">
                    Colors
                </div>
    
                <!-- Custom filters. -->
                <div class="disc-type-filter">
                    Disc type
                </div>
    
                <div class="stabilities-filter">
                    Stabilities
                </div>
    
                <button>Clear filters</button>
    
            </form>
    
        </div>
    </ng-template>
</ng-container>
