<div class="banner" *ngIf="taxonomyTerm?.pageSettings?.banner">
    <mte-responsive-image
        [src]="taxonomyTerm.pageSettings.banner"
        [height]="'30rem'"
        [alt]="taxonomyTerm.pluralName"
        [overlaySrc]="taxonomyTerm.pageSettings.bannerOverlay"
        [overlayHeight]="'9.3rem'"
        [overlayAlt]="taxonomyTerm.pluralName">
    </mte-responsive-image>
</div>

<ng-container *ngIf="isOneColLayout | async">
    <div class="sub-banner">Some info here</div>

    <div class="products container">    
        <div class="row">

            <!-- Products grid -->
            <div [ngClass]="[ 'products-grid-container', 'col-12' ]">
                <mte-products-grid [productsStream]="products"></mte-products-grid>
            </div>

        </div>
    </div>
</ng-container>

<ng-container *ngIf="isTwoColLayout | async">
    <div class="products container">
        <div class="row">
            <!-- Left sidebar -->
            <ng-container *ngIf="layoutIsMdAboves() | async">
                <ng-container *ngTemplateOutlet="leftSidebar"></ng-container>
            </ng-container>
    
            <!-- Products grid -->
            <div [ngClass]="[ 'products-grid-container', 'col-lg-8', 'col-sm-12' ]">
                <mte-products-grid [productsStream]="productsStream"
                    (productClick)="handleProductClick($event)">
                </mte-products-grid>
            </div>
            
            <!-- Left sidebar - collapsible -->
            <div *ngIf="layoutIsNotMdAboves() | async"
                 class="products-left-sidebar-dropdown-container">
                <ng-container *ngTemplateOutlet="leftSidebar"></ng-container>
            </div>
        </div>
    </div>
    
    <ng-template #leftSidebar>
        <div [attr.aria-expanded]="leftSidebarIsExpandeds | async"
             [ngClass]="[ 'products-left-sidebar', 'col-lg-4', 'col-sm-12' ]">
            
            <h2>Narrow it down</h2>
    
            <div class="products-left-sidebar-filters">

                <ng-container *ngFor="let formBuilder of productsFilterFormBuildersStream | async">

                    <!-- Label -->
                    <ng-container>
                        <h3 *ngIf="!!formBuilder.data.taxonomy"
                            [ngClass]="formBuilder.data.taxonomy?.slug + '-filter'">
                            {{ formBuilder.data.taxonomy?.pluralName || formBuilder.data.taxonomy?.slug }}
                        </h3>
                    </ng-container>

                    <!-- Form -->
                    <ng-container>
                        <form [formGroup]="formBuilder.formGroup">

                            <!-- Taxonomy term/attribute value checklist -->
                            <ng-container *ngIf="isChecklist(formBuilder.data.productsFilter)">
                                <mte-form-field
                                    *ngFor="let formControlName of formBuilder.controlNames"
                                    [options]="formBuilder.getOptions(formControlName)">

                                    <input #input
                                        type="checkbox"
                                        [formControlName]="formControlName"
                                    />
                                </mte-form-field>
                            </ng-container>

                            <ng-container *ngIf="priceRange && isPriceRange(formBuilder.data.productsFilter)">
                                <mte-range-slider
                                    [formControlName]="formBuilder.controlNames[0]"
                                    [step]="5"
                                    [minLimit]="priceRange[rangeLimit.Min]?.amount"
                                    [maxLimit]="priceRange[rangeLimit.Max]?.amount"
                                    knobColor="#929"
                                    knobInnerColor="#fff"
                                    trackColor="#000">
                                </mte-range-slider>
                            </ng-container>

                        </form>
                    </ng-container>

                </ng-container>
    
                <!-- Standard filters -->
                <div class="price-range-filter">
                    Price range
                    <pre>{{ priceRange | json }}</pre>
                </div>

                <div class="product-types-filter">
                    Product types
                </div>

                <div class="brands-filter">
                    Brands
                </div>

                <div class="colors-filter">
                    Colors
                </div>
    
                <!-- Custom filters
                <ng-container *ngIf="isDisplayingDiscs()">
                    <div class="disc-type-filter">
                        Disc type
                    </div>
        
                    <form [formGroup]="stabilitiesFormGroup"
                        class="stabilities-filter">
                        Stabilities
                        <div class="stabilities-filter--understable">
                            <input id="stabilities-filter-understable-input"
                                type="checkbox"
                                formControlName="underStable"
                            />
                            <label for="stabilities-filter-understable-input">Understable</label>
                        </div>
                        <div class="stabilities-filter--stable">
                            <input id="stabilities-filter-stable-input"
                                type="checkbox"
                                formControlName="stable"
                            />
                            <label for="stabilities-filter-stable-input">Stable</label>
                        </div>
                        <div class="stabilities-filter--overstable">
                            <input id="stabilities-filter-overstable-input"
                                type="checkbox"
                                formControlName="overStable"
                            />
                            <label for="stabilities-filter-overstable-input">Overstable</label>
                        </div>
                        
                    </form>
                </ng-container>-->
    
                <button (click)="clearFilters()">Clear filters</button>
    
            </div>
    
        </div>
    </ng-template>
</ng-container>
